*{
    margin: 0;
    padding: 0;
}
body{
    
    width: 98%;
    height: 200%;
    border: 3px ;
}
.box{
    display: flex;
    justify-content: center;
}
.container1{
    height: 40px;
    text-align: center;
    background-image:linear-gradient(to right, red,green,yellow);
    border: 1px solid red;
}
h1{
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.container2{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 800px;
    border-radius: 10px;
    background-color: gray;
    border: 1px solid red;
}
.container3{
    height: 150px;
    background-color: aqua;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;

}
.Box{
    width: 30%;
    height: 70px;
    border-radius: 10px;
     border: 2px solid red;
     margin: 0px;
     font-weight: 700;
     text-align: center;
     
     
}

.container4{
    height: 40px;
    text-align: center;
    background-image:linear-gradient(to right, red,yellow,orange);
    border: 1px solid red;
    text-decoration: underline;
}
.container5{
    height: 300px;
    border: 3px solid green;
    background-image:radial-gradient(ellipse at center,blue 10% ,rgb(131, 131, 182),green);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.boxx{
     width: 200px;
     height: 100px;
     background-color: yellow;
     border-radius: 10px;
     border: 2px solid red;
     margin: 20px;
     line-height: 2;
     text-align: center;
     
}
P2{
    color: brown;
    font-weight: 800;
    /* text-align: center; */
    text-decoration: underline;
    }
    .grid{
          border: 1px solid gray;
          margin-top: 20px;
          display: grid;
           grid-template-columns:repeat(4,auto);
          grid-template-rows: repeat(4,auto);
          height: auto;
          grid-gap: 10px;
          margin-bottom: 50px;
    }
    
    .boox1{
     height: 100 px;
     background-color: rgb(255, 0, 0);
     grid-column: 1/5;
    grid-row: 1/2;
    color: white;
    text-align: center;
    }
    .boox2{
        height: 60px;
        background-color: rgb(0, 70, 128);
        grid-column :1/2;
        grid-row:2/3;
        color: white;
        text-align: center;
        font-size: x-large;
        font-weight: 600;
    }

    .boox3{
        height: 60px;
        grid-column: 2/3;
        grid-row: 2/3;
        background-color:orangered;
        color: white;
        font-size: large;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
    }
    .boox4{
        height: 60px;
        grid-column: 3/4;
        grid-row: 2/3;
        background-color: royalblue;
        color: white;
        font-size: large;
        font-weight: 600;
        
    }
    .boox5{
        width:  80px;
        grid-column: 4/5;
        grid-row: 2/4;
        background-color: black;
        color: white;
        font-size: large;
        font-size: medium;
        text-align: center;
    } 
    .boox6{
        height: 150px;
        grid-column: 1/4;
        grid-row: 3/4;
        background-color:violet;
        color: white;
        font-size: large;
        font-weight: 600;
        text-align: center;
    }
    .boox7{
        height: 23px;
        grid-column: 1/5;
        grid-row: 4/5;
        background-color: royalblue;
        text-align: center;
        color: white;
        font-size: x-large;
        font-weight: 900;
    }